*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --f-color: white;
    --ff-color: black;
    --fff-color: rgb(34, 32, 32);
    --ffff-color: rgb(110, 103, 103);
    --fffff-color: red;
    --f-ize: 20px;
    --fo-ize: 15px;
    --fon-ize: 10px;
}
body{
    background-color: var(--ff-color);
    margin-top: 100px;
}
.container{
    background-color: var(--fff-color);
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 400px;
    border-radius: 30px 30px 20px 20px;
}
#im-01{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-bottom: 10px;
}
#word-1{
    color: var(--f-color);
    font-size: var(--f-ize);
}
#word-2{
    color: var(--fffff-color);
    font-size: var(--f-ize);
     margin-bottom: 20px;
     font-style: italic;
}
#word-3{
    color: var(--f-color);
    font-size: var(--fo-ize);
     margin-bottom: 10px;
}
#ul-1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#link{
    padding: 10px 100px;
    background-color: var(--ffff-color);
    border-radius: 20px 30px;
    color: var(--f-color);
    animation: eno 10s infinite;
}
#link:hover{
  border-radius: 10px 20px;
  background-color: var(--f-color);
}
@keyframes eno {
    0%{
        color: var(--ff-color);
         background-color: var(--f-color);
         border: 3px solid var(--ff-color);
    }
     50%{
        color: var(--fff-color);
        border: 3px solid var(--fffff-color);
    }
     75%{
        opacity: 0.8;
        border: 3px dotted var(--fff-color);
    }
     100%{
        opacity: 1.0;
        border: 3px dotted var(--ffff-color);
    }
    
}
@media only screen and (max-width:1100px){
    .container{
         margin: 50px 300px;
    }
}
@media only screen and (max-width:929px){
    .container{
         margin: 50px 200px;
    }
}
@media only screen and (max-width:721px){
    .container{
         margin: 50px 100px;
    }
}
@media only screen and (max-width:509px){
    .container{
         margin: 50px 20px;
    }
}
